@charset "utf-8";

/* CSS Document */



html,body{

	cursor: default;

	font-family: 'Open Sans', sans-serif;

}



#Portrait{

	display: block;

	margin: auto;

	width:75%;

}



#Copryright{

	text-align: center;

	float:center;

	line-height: 100px;

	margin:0px 20px;

}



#CarouselCurtain{

	display:none;

	position:fixed;

	width:100%;

	height:100%;

	background-color:black;

	top:0;

	bottom:0;

	left:0;

	right:0;

	opacity:.7;

	z-index: 5;

}



.header{

	height:100px;

	background-color:#27497F;

	text-align: center;

	line-height: 100px;

	font-size: 250%;

	color:white;

}



.nav{

	background-color:#9AC1FF;

	height: 50px;

}



.nav ul{

	list-style: none;

	margin:0px;

	padding:0px;

}



.nav li{

	display:inline;

	float:left;

	width: 25%;

	text-align:center;

	height: 50px;

	line-height: 50px;

}



.nav a{

	font-size:13pt;

	color:#444;

	text-decoration: none;

}



.nav a:hover{

	color: #000;

	transition-duration: .5s;

}



.left_article{

	width:50%;

	float:left;

	min-height: 600px;

}



.education_details{

	width:90%;

	min-height:400px;

}



.education_details div{

	clear:both;

}



.education_details strong{

	margin:0px 0px 0px 20px;

}



.education_details span{

	float:right;

	text-align: right;

	width:40%;

	margin:0px 0px 20px 0px;

}



.right_article{

	width: 50%;

	float:right;

	min-height: 600px;

}



.right_article h1, .left_article h1{

	margin: 15px;

	padding: 0px;

}



.right_article p, .left_article p{

	margin:10px;

}



.tech_pictures img{

	height: 100px;

	display:inline-block;

}



.work_history h1{

	margin: 20px 30px;

}



.work_history li{

	margin:25px 0px;

	list-style: none;

	font-size: 15pt;

}



.work_history div{

	font-size: 12pt;

	padding: 10px 0px 0px 0px;

	color:#222;

}



.work_history p{

	font-size:12pt;

	margin: 0px 0px;

	color:#222;

	clear:both;

}



.work_history hr{

	width:80%;

	float:left;

}



.work_history em{

	font-size:11pt;

}





.project_entry{

	margin:20px 0px;

}



.project_entry hr{

	clear:both;

	margin: 30px 0px 10px 0px;

}



.project_entry p{

	margin: 10px 20px;

}



.carouselContainer{

	position: relative;

	transition-duration: 1s;

	text-align: right;

}



.carouselContainer div{

	position:absolute;

	width:80%;

	height:100%;

	top:0;

	left:10%;

}



.carouselContainer .carousel{

	display:inline;

	width:100%;

}



.carouselContainer .carouselNextButton, .carouselContainer .carouselPrevButton{

	z-index: 1;

	display:inline;

	position:absolute;

	top:0;

	bottom:0;

	margin:auto;

	width:30px;

	height:30px;

	background-color:#FFF;

	border:none;

	border-radius: 50%;

	opacity: .5;

	transition-duration: .5s;

	font-weight: bold;

	font-size:14pt;

}



.carouselContainer .carouselNextButton:hover, .carouselContainer .carouselPrevButton:hover{

	opacity: 1;

}

.carouselContainer .carouselNextButton:focus, .carouselContainer .carouselPrevButton:focus{

	outline:0;

}



.carouselContainer .carouselNextButton{

	right:1%;

}



.carouselContainer .carouselPrevButton{

	left:1%;

}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
  }

  .accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  .active, .accordion:hover {
	background-color: #ccc;
  }
  
  .panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }



.social_media{

	background-color: #27497F;

	height:100px;

	width:100%;

	clear:both;

	margin: 20px 0px 0px 0px;

}



.social_media ul{

	list-style: none;

	margin:0px;

	padding:0px;

	float:left;

	height:100px;

}



.social_media li{

	display: inline;

	margin:0px 10px;

}



.social_media img{

	border-radius: 50%;

	width:80px;

	margin:10px 0px;

}



.footer{

	background-color: #666;

	min-height: 50px;

	clear: both;

	text-align: center;

	line-height: 50px;

}



body{

	margin:auto;

	max-width: 1000px;

	width:90%;

}



@media (max-width:800px){

	.left_article{

		display:block;

		width:100%;

		min-height: 0px;

	}

	

	.right_article{

		display:block;

		clear:both;

		float:none;

		width:100%;

		min-height: 0px;

	}

	

	.work_history h1{

		padding:0px;

		margin:10px;

	}

	

	.work_history ul{

		padding:10px;

	}

	

	.social_media li{

		margin:0px;

	}

	

	.nav{

		height:100px;

	}

	

	.nav li{

		width:50%;

	}

}